
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# VSCode / PyCharm
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Python logs
*.log

# Local result files
*.png
*.csv

# Streamlit temporary files
.streamlit/

# Environment and cache
*.env
*.egg-info/
.cache/

# Jupyter
.ipynb_checkpoints/
